@tailwind base;
@tailwind utilities;
@tailwind components;

.input-number-tab::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number-tab {
  -moz-appearance: textfield;
}


.grafico1 {
  width: 500px; 
  height: 500px;
}

.grafico2 {
  width: 500px; 
  height: 500px;
}
